/* beginning style reset` */
* {
    padding: 0;
    margin: 0;
}

image {
    display = block;
    max-width: 100%;
    max-height: auto;
}

/* end style reset */

/* beginning utility classes */
.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -99999px;
}

/* end utility classes */
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AEBD93;
    color: #192A18;
    text-align: left;
    line-height: 1.4;
}

article {
    margin:auto;
}

a{
    color: darkblue;
}

a:visited {
    color: rgb(127, 0, 139);
}

a:hover, a:focus {
    color: rgb(46, 117, 188);
}

a:active {
    color: rgb(139, 0, 0);
}

ul {
   background-color: #020b01;
   text-align: right;
   padding: .4em;
}

li {
    display: inline-block;
    margin-inline: 1em;
    color: antiquewhite;
}

/* start header */
li a, li a:visited {
    text-decoration: none;
    color: antiquewhite;
    display: inline-block;
}

li a:hover, li a:focus {
    text-decoration: underline;
    display: inline-block;
}

/* end header */

/* img {
    max-width: 100%;
    max-height: auto;
    }
 */

 .introText {
    text-align: center;
    font-size: 340%;
    text-transform: uppercase;
    background-image: url("../Files/Flower\40.jpg");
    background-size: 100%;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.295);
 }

 /* start image wrap*/
.float{
    border: 2px solid black;
    width: 30vw;
    height: auto;
    margin: 1rem;
    justify-content: center;
    padding: 0rem;
    align-items: center;
    display: flex;
}

.textLeft {
    float: left;
}

/* end image wrap */

/* .container {
    border: double black;
    font-size: 1.5rem;
    margin: 1.4em 2em;
    padding: 1.5em auto;
    text-transform: capitalize;
    letter-spacing: .1em;
}
 */

input, button {
    font: inherit;
}