/* beginning style reset` */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

image {
    display: block;
    max-width: 100%;
    max-height: auto;
}

/* end style reset */

/* beginning utility classes */
.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -99999px;
}

/* end utility classes */
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AEBD93;
    color: #192A18;
    text-align: left;
    line-height: 1.4;
}

article {
    margin:auto;
}

a{
    color: darkblue;
}

a:visited {
    color: rgb(127, 0, 139);
}

a:hover, a:focus {
    color: rgb(46, 117, 188);
}

a:active {
    color: rgb(139, 0, 0);
}

ul {
   background-color: #020b01;
   text-align: right;
   padding: .4em;
}

li {
    display: inline-block;
    margin-inline: 1em;
    color: antiquewhite;
}

/* start header */
li a, li a:visited {
    text-decoration: none;
    color: antiquewhite;
    display: inline-block;
}

li a:hover, li a:focus {
    text-decoration: underline;
    display: inline-block;
}

/* end header */

/* img {
    max-width: 100%;
    max-height: auto;
    }
 */

 /* start intro section */

 .introParentContainer{
    /* border: blue 3px solid; */
    position: relative;
    width: 100%;
    height: auto;
    min-height:200vh;

 }

 .introText {
    text-align: center;
    font-weight: 500;
    font-size: 13rem;
    text-transform: uppercase;
    /* background-image: url("../Files/Flower\ 40.jpg");
    background-position: 50% 18%;
    -webkit-background-clip: text;
    -webkit-background-fill-color: transparent; */
    color:rgba(239, 227, 243, 0.699);
    display:flex;
 }

 .introContainer {
    /* font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .1em; */
    /* display: flex; */
    position: sticky;
    width: 100%;
    min-height: 70vh;
    height: auto;
    background-color:#020b01;
    background-image: url("../Files/Flower\ 40.jpg");
    background-position: 0% 0%;
    
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.introText:hover {
    text-align: center;
    font-weight: 500;
    font-size: 13rem;
    text-transform: uppercase;
    background-image: url("../Files/Headshot.JPG");
    background-position: 50% 18%;
    -webkit-background-clip: text;
    -webkit-background-fill-color: transparent;
    background-blend-mode: overlay;
    color:rgba(239, 227, 243, 0.301);
    display:flex;
 }

 /* TODO: FIX the introductary banner hover feature and add blur (also make text hover earlier) */
/* .introContainer:hover {
    background-color: #020b01;
    background-image: url("../Files/Flower\ 40.jpg");
    background-position: 50% 18%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;  
    align-items: center;
} */

/* end intro section */


 /* start image wrap*/
.float{
    border: 2px solid black;
    width: 30vw;
    height: auto;
    margin: 1rem;
    justify-content: center;
    padding: 0rem;
    align-items: center;
    display: flex;
}

.textLeft {
    float: left;
}

/* end image wrap */



/* input, button {
    font: inherit;
} */